/*==============This is the styles for content area of the page aka the product section======================*/

/*====================================Heading on product page===================================*/
.heading-slogan { 
    position: relative;
    text-align:center;
    padding: 1.2em;
    margin: 0;
    font-weight: normal;
    color: #595959;
  } 

  /*====================================Product Section===================================*/
.container {
    padding: 0 1em;
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%; 
}

.box {
    position: relative;
    width: 100%;
}

.box-image {
    position: relative;
    background: #E8E8E8;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.box-image img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    mix-blend-mode: darken;
    transform: translateX(-50%) translateY(-50%);
}

.box-content {
    padding: 10px;
    background: white;
    color: #595959;
}

.box-price {
    padding: 20px 10px;
    color: #CF7200;
    background: white;
}

.product-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: none;
    padding: 1em;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    opacity: 1;
}


/*==============================Media Queries==================================*/

@media all and (min-width: 480px) {
    .box {
        width: calc((100% - 1em) / 2);
    }
}

@media all and (min-width: 768px) {

    .container {
        max-width: 80%;
        margin: 0 auto;
        padding: 0 1em;
        height: 100%;
        width: 100%;
        background: white;
    }

    .heading-slogan::before {
        content: '';
        position: absolute;
        border-top:1px solid #595959;
        top: 50%; 
        left: 0;
        width: 40%;
    }
  
    .heading-slogan::after {
      content: '';
      position: absolute;
      border-top:1px solid #595959;
      top: 50%; 
      right: 0;
      width: 40%;
  }
}

@media all and (min-width: 1024px) {
    .box {
        width: calc((100% - 3em) / 4);
    }
}
/*==========================Product box hover overlay==========================*/

.box-image .content-overlay {
    background: rgba(207, 114, 0, .8);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .box-image:hover .content-overlay{
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  
  .box-image:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fadeIn-top{
    top: 20%;
  }

  /*  ==========================Image color overlay using the ::after pseudo element=========================*/
/*
    .box-image::after{
        content: '';
        position: absolute;
        background: rgba(199, 113, 62,.9);
        top: 0; 
        left: 0;
        width: 100%;
        padding-bottom: 100%;
        height: 0;
        opacity: 0;
    }

    .box-image:hover::after{
        opacity: 1;
        transition: all 0.4s ease-in-out 0s;
    } */